#settingsSection {
	margin: 20% auto;
	max-width: 360px;
}

#displaySection {
	margin: 20% auto;
	max-width: 900px;
}

.countertext, .counter{
	font-size: x-large;
}

.counter {
	color: #a00000;
}

.countertext {
	color: #aaa;
	padding-right: 1em;
	padding-left: .2em;
}

.pure-button {
	opacity: 0.1;
	background-color: rgba(0, 0, 0, 0);
}

.pure-button:hover {
	opacity: 0.2;
	background-image: none;
}

.pure-button:active{
	box-shadow: none;
}